.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    scroll-margin-top: 90px;
}

.projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

@media (width >= 768px) {
    .projectsContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0 40px;
    }
}

@media (width >= 1200px) {
    .container {
        padding: 60px 40px;
    }

    .projectsContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

