.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    min-height: 100dvh; /*100 percent of device (so that Courtois=profile takes up 
    wholle screen*/
    padding: 20px; /* Add some padding to prevent content from touching the edges */

    /*if you go on phone and shift to the side*/

    .Courtois_pic {
        max-width: 200px;
    }
    span {
        display: flex;
        gap: 25px;
        justify-content: center;
        a {
            margin: 0;
            img {
                width: 50px;
            }
        }
    }
    a {
        width: fit-content;
        align-self: center;
    }
    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color); /*Depends if it is black or white*/
        border: none;
        border-radius: 20px;
        width: 126px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    
    }
    button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    /*When pressing the buttom*/
    button:active {
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    }
}

/*Connects in some way the color icon to the profile pic*/
.colorModeContainer {
    position: relative;
}

.colorMode {
  position: absolute;
}

.colorMode:hover {
    cursor:pointer;
}

/*Fix description*/
.description{
    max-width: 24ch;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media (width >= 800px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        .Courtois_pic {
            max-width: 350px;
            width: 350px;
        }
    }
}


@media (width >= 1400px) {
    .container {
        .Courtois_pic {
            max-width: 400px;
            width: 400px;
        }
    }
}
    




